@media all and (-webkit-min-device-pixel-ratio:0) { 
    .svg2{
        width: 40%;
        height: 40%;
        margin-top: -15%;
       }
    .svg1{
        width: 40%;
        height: 40%;
    }
    .main-animate{
        height: 800px;
        display: grid;
        place-items: center;
        opacity:0.95;
        overflow: hidden;
    }
    .svg3{
        margin-top: -60%;
    }
        }
          @media all and (min--moz-device-pixel-ratio:0) {
           .svg2{
            width: 50%;
            height: 50%;
            margin-top: -7%;
           }
            .svg1{
            width: 50%;
            height: 50%;
        }
         .main-animate{
            height: 800px;
            display: grid;
            place-items: center;
            opacity:0.95;
            overflow: hidden;
        }
         .svg3{
            margin-top: -39%;
        }
            }
@media screen and (max-width:500px) {
.svg2{
    width: 25%;
    height: 25%;
    margin-top:32%;
   }
.svg1{
    width: 40%;
    height: 40%;
    margin-top: 22%;
}
.main-animate{
    height: 550px;
    display: grid;
    place-items: center;
    overflow-y: hidden;
}
.svg3{
    margin-top: -55%;
    width: 155%;
    height: 175%;
}

}
/* .main-animate{
  height: 100%;
} */