.slider{
    height: 80%;
    position: absolute;
    width: 100%;
    display: flex;
    column-gap: 5%;
    justify-content: center;
    align-items: center;
    animation: marquee 30s linear infinite;
}
.card1{
  width: 100%;
  /* margin-right: 1.5%;
  margin-left: 1.5%; */
  box-sizing: border-box;
  position: relative;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(120px);
  border-radius: 10px;
  margin-top: 1%;
  padding-bottom: 8%;
  z-index: 9;
}
.image1{

    width: 12vw;

}
.size{

    width: 16vw;
 
}
.increase{
  width: 20vw;

}
.hindu{
  width: 20vw
}
.cfo{
  width: 18vw;
}
@keyframes marquee {
  0% { left: 0%; }
  50% { left:100%;}
  100%{
    left: 0%;
  }
}
