.Contact-style1{
  position: relative;
  font-family: 'Futura Md BT';
  font-style: italic; 
  font-weight: 400; 
  font-size: 15px;
  text-align: center;
  word-spacing: 4px;
  width:60%;
  margin-top: -7%;
}

.Footimageplace{
  position:relative;
  width: 414px;
  height: 188px;
  margin-top: 100px;
}
.Rectangle{
  position:relative;
  width: 100%;
  border-style: none;
  border-color: none;
  display:flex;
  align-items: center;
  justify-content: center;
}
.footer-rectangle-top{
  width:60%;
}
.footer-rectangle-bottom{
  width:60%;
  transform: rotate(180deg);
}
.Style1{
  width:100%;
  display: flex;
  justify-content: center;
}
.footer-style1{
  position: relative;
  font-family: 'Futura  BT',sans-serif;
  font-style: italic; 
  font-weight: 400; 
  font-size: 15px;
  text-align: center;
  word-spacing: 4px;
  width:60%;
  margin-top: 2% !important;
}
.rowfootor{
  position: relative;           
  width: 100%;
  display: flex;
  justify-content: center;
}
.colfootor{
  position: relative;
  width: 15%;
  float: left;
  align-items: center;
  justify-content: center;
  margin: 2%;
 /* text-align: center; */
}
.rowfooter:after{
  content: "";
  display: table;
  clear: both;
}
.colfootor-h2{
  position: relative;
  font-size: 18px;
  text-transform: capitalize;
}


.container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.smallrect{
  position: relative;
  width: 100px;
  height: 10px;
  border-radius:5px;
  background:white;
}
.smallcircle{
  position: relative;
  width: 10px;
  height: 10px;
  text-align: center;
  background: #ef68ad;
  border-radius: 200px;
}

.logoimg{
  position: absolute;
  margin-top: 2%;
width: 13%;
height:auto;
}
.rowfootor-logo{
  position: relative;           
  width: 100%;
  display: flex;
  justify-content: center;
}
.colfootor-logo{
  position: relative;
  width: 15%;
  float: left;
  align-items: center;
  justify-content: center;
  margin: 2%;
 /* text-align: center; */
}
.rowfooter-logo:after{
  content: "";
  display: table;
  clear: both;
}
.footer-logo{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width:40px ;
  height:40px;
  border-radius: 50%;
  background: rgba(47, 196, 206, 0.1);
  border: 0.5px solid #FFFFFF;
  box-shadow: 1px 3px 2px rgba(47, 166, 206, 0.15), inset 7px 3px 20px #FFFFFF;
  -webkit-backdrop-filter: blur(0.5px);
  backdrop-filter: blur(0.5px);
  margin-left: 2%;
}
.footer-logo-sm{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width:100%;
}
.sm-logo{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width:25px;
  height:auto;
}

.Cir
{
    position: absolute;
    width: 100%;
    height:15%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Stylecont{
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3%;
}
 a{
  text-decoration: none;
}
.footor-text{
  font-size: 12px;
  color: darkslategray;
}
@media screen and (max-width: 800px) {
  .rowfootor {           
    width: 100%;
  }
  .colfootor {
    width: 18%;
  }
}
@media screen and (max-width: 650px) {
  .rowfootor {            
    width: 100%;
    display: block;
    margin-left: 12%;
  }
  .colfootor {
    width: 45%;
  }
}
@media screen and (max-width: 500px) {
  .rowfootor {            
    width: 100%;
    display: block;
    margin-left: 5%;
  }
  .colfootor {
    width: 45%;
    margin-left: 0%;
    margin-top: 2%;
  }
  .colfootor2{
    width:95%;
    text-align: center;
    margin-left: -2%;
    margin-top: 2%;
  }
  .footer-logo{
    width:30px ;
    height:30px ;
  }
  .sm-logo{
    width:18px;
    height:auto;
  }
}
@media screen and (max-width: 550px) {
  .FooterlogoImg{
    position: relative;
    width: 200px;
    height: 100px;
  }
  .logoimg{
     margin-top: -8%;
  }
}
@media screen and (max-width: 475px) {
  .logoimg{
    margin-top: -21%;
 }
}